<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hello, <%= user.name %></h1>
    <form action="/upload" enctype="multipart/form-data" method="post">
        <label for="fileUpload">Select a file to upload.</label>
        <input type="file" name="fileUpload" id="fileUpload">
        <button type="submit">submit</button>
    </form>
</body>
</html>