<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <a href="/upload">Upload</a>
    <a href="/createFolder">create folder</a>

    <form action="/log-out"><button type="submit">log out</button></form>

    <% if(folders.length === 0) { %>
    <h1>The user has no folders</h1>
    <% } else { %> 
      <% for(let i = 0; i < folders.length; i++) {  %>
        <a href="/home/<%= folders[i].folderName%>"><%=folders[i].folderName%></a>
      <% }%>
      <% } %>
  </body>
</html>
