<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <form action="/log-in" method="post" onsubmit="event.preventDefault()">
        <label for="username">Enter your username: </label>
        <input type="text" name="name" id="username">

        <label for="password">Enter your password: </label>
        <input type="password" name="password" id="password">
    </form>
</body>
</html>