<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
  </head>
  <body>
    <form action="/sign-up" method="post">
      <h1><%= message %></h1>
      <!-- username field -->
      <label for="username">Enter a username: </label>
      <input type="text" name="username" id="username">

      <!-- password field -->
       <label for="password">Enter a password: </label>
       <input type="password" name="password" id="password">
       <button type="submit">submit</button>
    </form>
  </body>
</html>
