<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
</head>
<body>
    <form action="/home">
        <!-- Username -->
        <label for="username">Enter your username: </label>
        <input type="text" name="username" id="username">
        
        <!-- Password -->
         <label for="password">Enter your password: </label>
         <input type="password" name="password" id="password">

         <button type="submit">submit</button>
    </form>

    <div>
        <p>Dont have an account? Sign up <a href="/">here</a></p>
    </div>
</body>
</html>